@font-face {
  font-family: "Title";
  src: url("fonts/mate_journal-webfont.woff2") format("woff2"),
    url("fonts/mate_journal-webfont.woff") format("woff");
}
@font-face {
  font-family: "Exo";
  src: url("fonts/exo-regular-webfont.woff2") format("woff2"),
    url("fonts/exo-regular-webfont.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
}

.main-content {
  width: 70%;
}

.back-drop {
  position: relative;
  width: clamp(335px, 30%, 500px);
  height: 100%;
}

.logo {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 120px;
  background-color: rgb(53, 49, 49, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-drop-img {
  width: 100%;
}

img {
  height: 100%;
}

h1 {
  font-family: "Exo";
  color: white;
  font-size: 5rem;
  margin-left: 15px;
}

.credit {
  display: flex;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

h3 {
  max-width: clamp(45ch, 75%, 75ch);
  text-align: left;
  margin-left: 40px;
}

.hero-text {
  background-color: rgb(243, 237, 237);
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: space-evenly;
}

.input-fields {
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
}

label {
  display: block;
  margin-bottom: 5px;
}

.field {
  flex-basis: 50%;
}

input {
  border: 2px solid #e5e7eb;
}

input:invalid:not(:placeholder-shown) {
  border: 2px solid lightcoral;
}

input:focus {
  border: 2px solid #e5e7eb;
}

input:valid:not(:placeholder-shown) {
  border: 2px solid lightgreen;
}

.submit {
  margin-top: 50px;
}

button {
  margin-left: 40px;
  background-color: #052e42;
  font-size: large;
  color: white;
  height: 35px;
  width: 180px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid darkblue;
}

.log-in {
  margin-left: 40px;
}
